@import "./../../../../variables.scss";

.more-proyects{
    .proyect-col{
        padding: 10px;
        height: 400px;

        .more-proyect-box {
            box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
            -webkit-transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
            transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: flex-start;
            -webkit-box-align: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
            position: relative;
            padding: 2rem 1.75rem;
            height: 100%;
            border-radius: 3px;
            -webkit-transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
            transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
            background-color: $LightNavy;
            cursor: pointer;

            &:hover {
                -webkit-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                transform: translateY(-5px);
            }
            &:hover, &:focus {
                box-shadow: 0 20px 30px -15px rgba(2,12,27,0.7);
            }

            svg{
                width: 40px;
                height: 40px;
                color: $Green;
            }

            .other-proyect-title{
                margin: 0 0 10px;
                font-size: 22px;
                color: $LightestSlate;
            }

            .other-proyect-description{
                font-size: 17px;
                color: $LightSlate;
            }
             .company-tab-content{
                font-size: 22px;
                font-weight: 500;
                 margin-bottom: 5px;
                color: $Green;
            }
            .job-description{
                position: relative;
                padding-left: 30px;
                margin-bottom: 10px;
                font-size: 18px;
        
                &:before {
                    content: '▹';
                    position: absolute;
                    left: 0;
                    color: $Green;
                }
            }
            .job-time{
                font-family: $CodeFont;
                font-size: 13px;
                font-weight: normal;
                    -webkit-letter-spacing: 0.05em;
                -moz-letter-spacing: 0.05em;
                -ms-letter-spacing: 0.05em;
                letter-spacing: 0.05em;
                color: $LightSlate;
                margin-bottom: 30px;
            }
            .more-proyects-skills{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: flex-end;
                -webkit-box-align: flex-end;
                -ms-flex-align: flex-end;
                align-items: flex-end;
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding: 0;
                margin: 20px 0 0 0;
                list-style: none;

                li{
                    font-size: 12px;
                    color: $Slate;
                    line-height: 1.75;
                    margin-right: 15px;
                    font-family: $CodeFont;
                    .underline{
                        padding-bottom: 3.5px;
                    }
                }
            }
        }
    }

}

::ng-deep .jobs .jobs-tabs {
    display: flex;

    .tab-content{
        margin-left: 1px;
    }

    ul{
        display: block;
        width: 250.33px;
        border: none;
    }

    a.active{
        background-color: $LightNavy !important;
        color: $Green !important;
        border-color: transparent !important;
        border-radius: 0px;
    }
    
    a:hover{
        background-color: $LightNavy !important;
        color: $Green !important;
        border-color: transparent !important;
        border-radius: 0px;
    }

    a{
        display: inline-block;
        -webkit-text-decoration: none;
        text-decoration: none;
        -webkit-text-decoration-skip-ink: auto;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        -webkit-transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        background-color: transparent;
        height: 42px;
        padding: 0 20px 2px;
        -webkit-transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        text-align: left;
        white-space: nowrap;
        font-family: $CodeFont;
        font-size: 13px;
        color: $Slate;
    }

    li{
        border-left: 2px solid $LightestNavy;
        border-left-width: 2px;
        border-left-style: solid;
        border-left-color: rgb(48, 60, 85);
    }
}

.jobs{

    max-width: 700px;
    margin: auto;

    .title-tab-content{
        color: $LightestSlate;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 5px;

        .company-tab-content{
            color: $Green;
        }
    }

    .job-time{
        font-family: $CodeFont;
        font-size: 13px;
        font-weight: normal;
            -webkit-letter-spacing: 0.05em;
        -moz-letter-spacing: 0.05em;
        -ms-letter-spacing: 0.05em;
        letter-spacing: 0.05em;
        color: $LightSlate;
        margin-bottom: 30px;
    }
    
    .job-description{
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        font-size: 18px;

        &:before {
            content: '▹';
            position: absolute;
            left: 0;
            color: $Green;
        }
    }
}

@media(max-width: 1300px){
    .more-proyects{
        .proyect-col{
            height: auto;
        }
    }
}
